STATISTICS_PORT=5100
GATEWAY_PORT=5200
NOTIFICATION_PORT=5300
FRONTEND_PORT=4200
POSTGRES_PORT=5432
POSTGRES_DB=datastatistics
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@local.dev
PGADMIN_DEFAULT_PASSWORD=admin
ASPNETCORE_ENVIRONMENT=Development
RABBITMQ_USER=user
RABBITMQ_PASS=password
RABBITMQ_EXCHANGE=weak-app
RABBITMQ_QUEUE=ingested-data-processing-queue
RABBITMQ_QUEUE_KEY=ingested-data.message
RABBITMQ_STATISTICS_UPDATES_EXCHANGE=statistics-updates
RABBITMQ_STATISTICS_UPDATES_QUEUE=statistics-updates-queue
